.nav-drop-down-container {
    display: flex; 
    background: none; 
    position: absolute; 
    right: 100px; 
    top: 40px; 
}

.nav-button {
    background: #f2f2f2; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: none;
    width: 60px; 
    height: 60px; 
    border-radius: 20px;
    cursor: pointer; 
    transition: all 300ms ease; 
}

.nav-button:hover {
    transform: scale(1.05); 
}

.nav-button-bar {
    background: #222; 
    width: 32px; 
    height: 5px; 
    border-radius: 3px; 
    margin: 3px 0px; 
}

.drop-down-container {
    background: #f2f2f2; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px; 
    padding: 5px 0px; 
    width: 320px; 
    /* border: solid;  */
    /* display: none;  */
}

.drop-down-item {
    background: inherit; 
    color: #333; 
    width: 96%; 
    margin: 3px 0px;  
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: filter 300ms; 
}

.drop-down-item:hover {
    filter: brightness(0.85);
}


.drop-down-item h3 {
    font-size: 20px; 
    font-weight: 400;
    background: inherit;
    margin: 20px; 
    flex-grow: 3; 
}

.drop-down-item span {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    filter: brightness(0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    font-size: 22px; 
}